In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

dir = '../data/'

In [2]:
user_spec = pd.read_parquet(dir + 'user_spec.parquet')
loan_result = pd.read_parquet(dir + 'loan_result.parquet')
meta_user_spec = pd.read_pickle(dir + 'meta_user_spec.pkl')
meta_loan_result = pd.read_pickle(dir + 'meta_loan_result.pkl')

In [3]:
print(loan_result.shape)
loan_result = loan_result.drop_duplicates()
print(loan_result.shape)

(13527363, 7)
(13527337, 7)

In [6]:
loan_result

,application_id,loanapply_insert_time,bank_id,product_id,loan_limit,loan_rate,is_applied
0,1748340,2022-06-07 13:05:41,7,191,42000000.0,13.6,NaN
1,1748340,2022-06-07 13:05:41,25,169,24000000.0,17.9,NaN
2,1748340,2022-06-07 13:05:41,2,7,24000000.0,18.5,NaN
3,1748340,2022-06-07 13:05:41,4,268,29000000.0,10.8,NaN
4,1748340,2022-06-07 13:05:41,11,118,5000000.0,16.4,NaN
...,...,...,...,...,...,...,...
13527358,1428218,2022-06-03 12:01:58,62,200,3000000.0,14.8,NaN
13527359,1428218,2022-06-03 12:01:49,2,7,40000000.0,11.8,NaN
13527360,1428218,2022-06-03 12:01:48,32,257,15000000.0,7.2,NaN
13527361,1428218,2022-06-03 12:01:48,33,110,44000000.0,13.5,NaN
13527362,1428218,2022-06-03 12:01:48,5,194,44000000.0,9.7,NaN

In [4]:
data = pd.merge(loan_result, user_spec, how='inner', on='application_id')
data.shape

(13527224, 23)

In [8]:
meta = pd.concat([meta_loan_result, meta_user_spec]).iloc[1:, :]
meta

                                      role     level   keep           dtype
varname
loanapply_insert_time                input   nominal   True  datetime64[ns]
bank_id                              input   nominal   True            int8
product_id                           input   nominal   True           int16
loan_limit                           input  interval   True         float32
loan_rate                            input  interval   True         float32
is_applied                           input    binary   True         float32
application_id                          id   nominal  False           int32
user_id                                 id   nominal  False           int32
birth_year                           input  interval   True         float32
gender                               input    binary   True         float32
insert_time                          input  interval   True  datetime64[ns]
credit_score                         input  interval   True         float32
yearly_income                        input  interval   True         float32
income_type                          input   nominal   True        category
company_enter_month                  input  interval   True         float32
employment_type                      input   nominal   True        category
houseown_type                        input   nominal   True        category
desired_amount                       input  interval   True         float32
purpose                              input   nominal   True        category
personal_rehabilitation_yn           input    binary   True         float32
personal_rehabilitation_complete_yn  input    binary   True         float32
existing_loan_cnt                    input  interval   True         float32
existing_loan_amt                    input  interval   True         float32

In [9]:
meta.to_pickle(dir + 'meta.pkl')